
h1 {
	font-family: serif;
	background-image: url(../img/sobre-background.jpg);
	border-width: 1px;
}

h2 {
	font-family: sans-serif;
	border-bottom: 2px solid #333333;
}

p {
	font-family: sans-serif;
	text-align: left;
	text-indent:  30px; /* Espaçamento da primeira linha do texto */
	word-spacing: 5px; /* Espaçamento entre as palavras */

}

body {
	color: #333333;
	font-family: "Lucida Sans Unicode", "Lucida Grande", sans-serif;
}

